<section class="flex flex-wrap w-full h-[600px] justify-center mt-28">
    <div class=" flex w-[1240px] items-center  gap-5">    
        <div class="w-3/5">
            <div>
                <h2 class="text-7xl font-semibold text-pretty text-black/90 leading-[85px]">Encargate de la comida, nosotros hacemos el resto.</h2>
                <h1 class="py-5 text-black/80">
                    Software Todo-en-Uno para Gestión de Restaurantes, Bares y Cafés.
                </h1>
                <button class="bg-[#ff5023] text-white p-2.5 rounded-md shadow-md hover:scale-105 transition-all animate-bounce duration-900">Comprar ahora</button>
                <button class="bg-[#ff5023] text-white p-2 rounded-md ml-5">Ver testimonios</button>
            </div>
            <div class="pt-12 flex flex-wrap gap-5">
                <div class="p-3 border-l-2 border-dashed border-[#ff5023] ">
                    <p class="text-3xl font-medium pb-2">Administra tu
                        <br> negocios desde</p>
                    <span class="text-2xl font-semibold">$50.000 por mes</span>
                </div>
                <div class="p-3 border-l-2 border-dashed border-[#ff5023]"> 
                    <p class="text-3xl font-medium pb-2">Lleva tu servicio <br>
                        al siguiente nivel.</p>
                    <span class="text-1xl font-semibold underline">Ver promociones</span>
                </div>
            </div>
        </div>
        <div class="w-2/5 flex justify-center">
            <img class="w-4/5 rounded-lg  border-[#ff5023] border-4 shadow-xl hover:scale-105 transition-all duration-500"
             src="/foodhome.jpg" alt="repartidor de comida">
        </div>
    </div>
</section>